<?php

    $id= $block->getData('id');   
    $banner = $block->getSingleBanner($id);
    //$banner = $block->getSingleBanner(2);
	
    $imgSrc = $block->getMediaDirectoryUrl().$banner->getBannerimage();
	$link 	= $banner->getLink();
	$target = $banner->getTarget();
	$title 	= $banner->getTitle();
    $btnCta = $banner->getBtnCta();
?>
<style type="text/css">
    .one-img {
        background-size: cover;
        background-image: url("<?php echo $imgSrc;?>");
    }
</style>
<section class="container">
    <div class="one-img">
    </div>
    <div class="two">
        <div id="cta" class="cta-left">
            <h3><?php echo $title; ?></h3>
              <?php if($link != ''): ?>
                <button type="button" class="cta-btn">
                    <a target="<?php echo $target; ?>" href="<?php echo $link; ?>"><?php echo $btnCta; ?></a>
                </button>
              <?php endif; ?>
        </div>
    </div>
</section>