<?php

    $id= $block->getData('id');

	$banner = $block->getSingleBanner($id);
    //$banner = $block->getSingleBanner(1);

	$imgSrc = $block->getMediaDirectoryUrl().$banner->getBannerimage();
	$link 	= $banner->getLink();
	$target = $banner->getTarget();
	$title 	= $banner->getTitle();
    $btnCta = $banner->getBtnCta();
?>
<style type="text/css">
    .two-img {
        background-size: cover;
        background-image: url("<?php echo $imgSrc;?>");
    }
</style>
<section class="container">
    <div class="one">
    	<div id="cta" class="cta">
            <h3><?php echo $title; ?></h3>
    		  <?php if($link != ''): ?>
    		  	<button type="button" class="cta-btn">
                    <a target="<?php echo $target; ?>" href="<?php echo $link; ?>"><?php echo $btnCta; ?></a>
                </button>
    		  <?php endif; ?>
		</div>
    </div>
    <div class="two-img">

    </div>
</section>