<?php
//	$banner = $block->getSingleBanner(2);
    $id= $block->getData('id');
    $banner = $block->getSingleBanner($id);
	
    $imgSrc = $block->getMediaDirectoryUrl().$banner->getBannerimage();
?>

<style type="text/css">
		
.single-img {
    background-image: url("<?php echo $imgSrc;?>");
}

</style>

<section class="container">
    <div class="single-img">
    </div>
</section>